* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.top-page {
  background-color: #ffcc01;
  text-align: center;
  padding: 10px;
}

.top-page img {
  width: 200px;
  padding: 20px;
}

.button-whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  z-index: 3;
  margin: 20px;
}


/* -----------------------------desktop view -------------------------- */

@media screen and (min-width: 576px) {
  .button-whatsapp {
    width: 100px;
  }
}
