* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content-message-success {
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
  font-weight: bolder;
}

.content-message-success-two {
  text-align: center;
}
.img-success-one {
  text-align: center;
}
.img-success-one img {
  width: 50%;
}

.img-success-two img {
  width: 300px;
}

.button-back {
  text-align: center;
  margin: 40px 0px;
}

.button-back button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffcc01;
  border: none;
  font-weight: bold;
}

/* -----------------------------desktop view -------------------------- */

@media screen and (min-width: 576px) {
  .img-success-two {
    position: absolute;
    top: 160px;
    right: 0px;
    left: -10px;
    bottom: 0px;
    z-index: -1;
  }

  .img-success-two img {
    width: 200px;
  }

  .all-content-thank {
    margin-top: 20px;
    padding: 10px 100px;
    position: relative;
  }
}

@media screen and (min-width: 1000px) {
  .img-success-two {
    top: 90px;
    right: 0px;
    left: 90px;
    bottom: 0px;
  }
  .all-content-thank {
    padding: 10px 300px;
  }

  .img-success-two img {
    width: 300px;
  }
}
